<section class="m-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4 col-sm-12 text-center">
        <h2><i class="fas fa-tag"></i> &nbsp;Code With Us</h2>
        <p class="subtitle"><span class="strong">Pay a fixed price for delivery of code</span> that meets your
          acceptance criteria.</p>
        <p class="subtitle">Post an opportunity, evaluate Proposals, assign a developer, and get to work!</p>
        <br>
        <a href="https://github.com/BCDevExchange/code-with-us/wiki/2.-For-Public-Sector-Employees:-How-to-Manage-a-Code-With-Us-Opportunity"
          class="btn btn-lg btn-block btn-default">Read the Guide</a>
        <button data-automation-id="button-create-codewithus" ng-if="vm.userCanAdd" class="btn btn-lg btn-block btn-primary"
          ui-sref="createcwu({programId:vm.programId, projectId:vm.projectId, programTitle:vm.programTitle, projectTitle:vm.projectTitle, context:vm.context})"
          title="Create Code With Us Opportunity">Get Started &nbsp;<i class="fas fa-lg fa-arrow-circle-right"></i></button>
      </div>
    </div>
  </div>
</section>
