<section>
  <div class="container">
    <div class="row">
      <h1 class="page-header">About</h1>
    </div>
  </div>

  <div class="container-fluid" style="position: relative; width: 100%; min-height: 325px;
        overflow-y: hidden; background: url(/modules/core/client/img/photos/facilitation.jpg) no-repeat center; background-size: cover;">
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <br><br>
        <blockquote>
          <p class="subtitle">The Sovrin DevExchange was built to allow companies to easily locate developers with the 
            skills needed to work on their projects. The Sovrin DevExchange helps reduce some of the overhead in that 
            relationship and provides the means for company and developer to find each other.</p>
        </blockquote>
      </div>
    </div>
  </div>

  <br>

  <div class="container-fluid" style="position: relative; width: 100%; min-height: 370px;
        overflow-y: hidden; background: url(/modules/core/client/img/photos/brainstorming.jpg) no-repeat center; background-size: cover;">
  </div>

  <br>

  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <h3>How We Got Here</h3>
        <p>The Sovrin Devexchange began with the open source code base that is the base of the BCDevExchange app. Our 
          new adaptation of that code base is in GitHub and is an open source project intending to provide similar services
          as the original, but to a much wider audience.</p>
        <h3>Who We Are</h3>
        <p>We are a team of developers hoping to provide a means for identity minded companies and developers to join 
          tegether and produce something incredible!
        </p>

        <div class="container-fluid" style="position: relative; width: 100%; min-height: 305px; overflow-y: hidden; background: url(/modules/core/client/img/photos/conversation.jpg) no-repeat center; background-size: cover;"></div>

        <h3>How You Can Help</h3>
        <p>The Sovrin Foundation cannot make this happen all on their own. Experience tells us that collaboration between
          internal and external contributors leads us to the best ideas. We welcome all who would like to contribute in any way 
          to the success of the Sovrin DevExchange project.</p>
      </div>
    </div>
  </div>
</section>
